header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
}

header div {
  flex-basis: 100%;
}

header .right {
  text-align: end;
  display: flex;
  gap: 20px;
  justify-content: end;
}

.header_line .right a {
  color: var(--cc-font);
  line-height: 25px;
  display: inline-block;
}
