{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharing</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <style>

    </style>
</head>

<body>




    <header class="header_line">

        <div class="left">
            {% if request.user.is_authenticated %}
            <span>{{ request.user.username }},</span>
            {% endif %}
            <span>sharing</span>
        </div>

        <nav class="right">
            <ul>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'user_list_view' %}">Users</a></li>
                <li><a href="{% url 'logout_view' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login_view' %}">Login</a></li>
                <li><a href="{% url 'signup_view' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>


    {% block content %}
    {% endblock content %}
</body>

</html>