{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div>chat</div>
    <h1>Chat with {{ other_user.username }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="message" placeholder="Type your message here..."></textarea>
        <input type="file" name="audio" accept="audio/*">
        <button type="submit">Send</button>
    </form>

</body>

</html>