{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sharing</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <style>

    </style>
</head>


<body>
    <header class="header_line">
        <div class="left">
            <p>sharing</p>
        </div>


        <div class="right">
            <a href="/login">Login</a>
            <a href="/sign_up">Sign Up</a>
        </div>

    </header>
</body>

</html>